@import "tailwindcss";

@theme {
  --color-myteengig-primary: #1177A8;
  --color-myteengig-primary-hover: #0A4666;
  --color-myteengig-secondary: #BFEFFF;
  --color-myteengig-secondary-hover: #8DD5FF;
  --color-myteengig-background: #EAF8FF;
  --color-myteengig-surface: #ffffff;
  --color-myteengig-text-primary: #0A4666;
  --color-myteengig-text-muted: #2E6B86;
  --color-myteengig-border: #8DD5FF;
}